
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-gradient-primary pb-4 pt-5 pt-md-8">
        <div class="container">
            <h1 class="display-4 text-white">Öğretmen Giriş Sayfası</h1>
            <p class="lead text-white">Bu ekrandan araçları nasıl kullanacağınızı göreceksiniz.</p>
        </div>
    </div>

    <hr />

    <div class="row">

    </div>
</div>
